<div class="row ">
  <div class="col-md-offset-2 col-md-6 well">


    <form [formGroup]="newJobForm" autocomplete="off" novalidate (ngSubmit)="saveNewJob_local(newJobForm.value)">


      <div class="form-group" [ngClass]="{'error':!validControl('jobTitle')}">
        <label for="jobTitle">Job Title</label>
        <em *ngIf="!validControl('jobTitle') && newJobForm.controls.jobTitle.errors.required">Required</em><br />
        <em *ngIf="!validControl('jobTitle') && newJobForm.controls.jobTitle.errors.duplicateJobTitle">Duplicate entry!</em>
        <input type="text" formControlName="jobTitle" name="jobTitle" class="form-control" (change)="checkForDuplicates()" required autofocus />
      </div>


      <button type="submit" class="btn btn-primary" [disabled]="this.newJobForm.invalid">Save</button>
      <button type="button" class="btn btn-default" (click)="cancelNewJob_local()">Cancel</button>

    </form>

    <div ng-if="feedbackToUserText" [className]="feedbackToUserClassNameSet()" [innerHtml]="feedbackToUserText">
    </div>

  </div>
</div>
