@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<li><a href="/app2/dashboard">Dashboard</a></li>
<li><a href="/TimeLogs">Timelog</a></li>
<li><a href="/jobs">Jobs</a></li>
<li><a href="/Projects">Projects</a></li>
<li><a href="/app2/ProjectsA7">Projects (Angular 7)</a></li>
<li><a href="/app2/timesheet">Timelog (Angular 7)</a></li>
<li><a href="/ReferenceSites">Reference Sites</a></li>
<li><a href="/CodeReferences">Code</a></li>
<li><a href="/CommandLine">Command Line</a></li>
<li><a href="/DevSites">Demo Sites</a></li>
<li><a href="/Companies">Companies</a></li>
<li><a href="/Discipline">Disciplines</a></li>

