@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This site is intended to demonstrate what can be accomplished by utilizing the Microsoft technology stack.&nbsp; It also applies AngularJS and Angular.</p>

<p>The sight is an ASP.NET Core 2.2 project hosted on Azure and uses an Azure SQL Server as a backend.</p>

<p>If you would like to see some of the functionality applied here on your site, assuming that the code for your site and database (if applicable) is accessible through some code repository such as GitHub or SVN, I will be more than glad to show you what can be accomplished in a matter of hours.</p>

<p>I appreciate your interest.</p>