@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sam Niyazi<br />
    Independence, MO&nbsp; 64051<br />
    <abbr title="Phone">P:</abbr>
    816-836-5477
</address>

<address>
    <strong>Email:</strong> <a href="mailto:sam2003@niyazi.com">sam2003@niyazi.com</a><br />
</address>

@{

    // 12/02/2019 11:51 pm - SSN - [20191202-2353] - [002] - DisplayCode - Adding

    if (User.Identity.IsAuthenticated)
    {
        if (DevSitesIndex.Areas.Identity.Util.ClaimUtil.hasClaim(this.Context, "Role", "Manager"))
        {
            <pre cmd-ssn="displayCode" url="http://p3013.nonbs.net:3013/CodeReferences" doDebug=false></pre>
        }

    }
}

@section scripts {

    <script src="/webpack_build/bundle_main_101.js" asp-append-version="true"></script>
}