@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sam Niyazi<br />
    Independence, MO&nbsp; 64051<br />
    <abbr title="Phone">P:</abbr>
    816-836-5477
</address>

<address>
    <strong>Email:</strong> <a href="mailto:sam2003@niyazi.com">sam2003@niyazi.com</a><br />
</address>

@{

    // 12/02/2019 11:51 pm - SSN - [20191202-2353] - [002] - DisplayCode - Adding

    if (User.Identity.IsAuthenticated)
    {
        <p>20210612-2329-A</p>
        if (DevSitesIndex.Areas.Identity.Util.ClaimUtil.hasClaim(this.Context, "Role", "Manager"))
        {
            <pre title="Application Insights monitor"
                 cmd-ssn="displayCode"
                 url="http://p3013.nonbs.net:3013/CodeReferences"
                 doDebug=false
                 vstsAccount="samniyazi"
                 projectName="Training Track"
                 repository="433fe932-11f3-4919-831b-234c1dab4d8d"
                 filePath="/DevSitesIndex/wwwroot/js/util/ApplicationInsights_Monitor.ts"></pre>

            <pre title="SharedUtil"
                 cmd-ssn="displayCode"
                 url="http://p3013.nonbs.net:3013/CodeReferences"
                 doDebug=false
                 vstsAccount="samniyazi"
                 projectName="Training Track"
                 repository="433fe932-11f3-4919-831b-234c1dab4d8d"
                 filePath="/DevSitesIndex/wwwroot/js/shared/sharedUtil.ts"></pre>

        }

        <p>20210612-2329-B</p>

        if (DevSitesIndex.Areas.Identity.Util.ClaimUtil.hasClaim(this.Context, "Role", "TestUser"))
        {
            <div class="col-md-4" ng-controller="loginController">
                <a ng-click="login()">Login</a>
            </div>

        }
    }
}

@section scripts {

    <script src="/webpack_build/bundle_main_101.js" asp-append-version="true"></script>
}
