@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sam Niyazi<br />
    Independence, MO&nbsp; 64051<br />
    <abbr title="Phone">P:</abbr>
    816-836-5477
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">sam2003@niyazi.com</a><br />
</address>
