@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<a href="/DemoSites">Index P1</a> -
<a href="/DemoSites/Index_P2">Index P2</a> -
<a href="/DemoSites/Index_P3">Index P3</a> 
