@model DemoSitesViewModel
@using DevSitesIndex.Entities
@{
    ViewData["Title"] = "Index";

    // 09/01/2018 06:49 am - SSN
    //ViewBag.InitModule = "demoSites_Index";
    ViewBag.InitModule_Full = "data-ng-app=\"demoSites_Index\"";


}




<h1>Demo Sites Index (p2)</h1>

@{await Html.RenderPartialAsync("Index_Option_Select");}





<div class="row" data-ng-view=""></div>



<h3>Source: AngularJS (Index.cshtml - demoSiteIndexController)</h3>

<div data-ng-controller="demoSiteIndexController">

    <div class="progress progress-striped active" data-ng-show="isBusy2">
        <div class="progress-bar" style="width: 100%;"></div>
    </div>
    <div data-ng-repeat="i in data.devSites">



        <div class="container-fluid">
            <div class="siteDiv">
                 
                <a ng-show="i.siteUrl" class="siteTitle" href="{{ i.siteUrl}}" target="window2_{{ i.id }}">{{ i.siteTitle }}</a>

                <span ng-show="!i.siteUrl" class="siteTitle" >{{ i.siteTitle }}</span>



                @*<div class="menuOptions">

            <a href="#" class=""
               data-bind="click: $parent.showJob">Show Job</a>

            <a href="#" class=""
               data-bind="click: $parent.requestDelConfirm">Delete</a>

            <a class=""
               data-bind="attr: {href: '/devsites/details?id=' + id , target:'devsiteIndexWindow' + id } ">Detail</a>

        </div>*@

            </div>
        </div>


    </div>
</div>






@section Scripts {



    @*08/31/2018 08:51 am - SSN*@
    <script src="~/js/demoSites_Index.js" asp-append-version="true"></script>

    @*09/01/2018 01:38 pm - SSN -*@
    <script src="~/js/dataservices.js" asp-append-version="true"></script>





}
