
.customThumbnail {
  min-height: 260px;
}

.colorPadded {
  padding: 6px;
  border-radius: 5px;
}
.green {
  color: green;
  background-color:yellow
}

.red {
  color: red;
}

.yellow {
  color: yellow;
  background-color: darkslategrey;
}

.bold {
  font-weight: bold;
}
