
<div class="well hoverwell thumbnail customThumbnail">

    <h3><a [routerLink]="['/timelog',timesheet.timeLogId]">[{{timesheet.timeLogId}}] - {{timesheet.job.project.projectTitle}}</a></h3>
    <hr />
    <div>

        {{timesheet.job.jobTitle}}<br />

        {{timesheet.job_Lineitem?.lineItem}}<br />

        {{timesheet.discipline.disciplineShort}}<br />

        {{timesheet.job.job_StatusID | jobStatus}} <br />

        <br />
        <span [ngClass]="setTotalSecondsClass()">

            {{timesheet.totalSeconds}}
        </span>

    </div>


</div>

<!--<button class="btn btn-primary btn-sm" (click)="handleClickMe101(timesheet)">Click Me!</button> &nbsp;-->
