@*
    // 11/25/2019 03:48 pm - SSN - [20191125-1414] - [005] - Project jobs - filter
    // Refactoring to use with Jobs index
*@

<div>

    <p>
        <a asp-page="/jobs/Create">Create New Job</a>
    </p>


    <div ng-controller="jobsIndexController">


        <div ng-if="hasErrors" ng-class="feedbackToUserClassNameSet()" ng-bind-html="errorMessages">

        </div>

        <ng-content ng-if="!hasErrors">

            <div ng-controller="utilityController">
                <span job-status-option ng-repeat="job_status in job_statuses"
                      entry="job_status"
                      checkedfunction="job_status_changed101(job_status)"
                      jobstatusesselected102="job_statuses_selected"></span>
            </div>

            <hr style="padding:0px;margin:0px;border:0px;height:8px;" />

            <div>
                <button ng-click="job_statuses_checkAll(1)">Check all</button>
                <button ng-click="job_statuses_checkAll(0)">Uncheck all</button>
            </div>

            <a id="{{tableTopIdForScroll}}"></a>

            <table class="table table-responsive" height="300">

                <thead ng-controller="utilityController">
                    <tr ng-show="databag.jobs.length>0">
                        <th header-with-sort columnlist="item" sortmethod="$parent.$parent.sortMethod101(item)" ng-repeat="item in fieldsList"></th>
                    </tr>
                </thead>


                <tbody>

                    <tr ng-repeat="job in databag.jobs">

                      
                        <td ng-if="!hideProjectTitle" class="truncateLongText_100">
                            {{job.projectTitle_ForActivity}}
                        </td>
                         
                        <td>
                            <div job-status-display job-status="job.job_StatusID" class="truncateLongText_200 dropdownHint">
                                {{job.jobTitle}}
                            </div>

                            <div class="dropdownHint-content">
                                {{job.jobTitle}}
                            </div>


                        </td>

                        <td class="indexNowrapCol hidden-xs">
                            {{job.dateAdded}}
                        </td>

                        <td class="indexNowrapCol hidden-xs">
                            {{job.dateUpdated}}
                            <br>
                            <b>
                                {{job.lastActivityDate}}

                            </b>
                        </td>

                        <td class="indexNowrapCol hidden-xs">
                            {{job.activityAge_ToString}}
                        </td>





                        <td class="indexNowrapCol">
                            <a href="/jobs/Edit?id={{job.jobID}}">Edit</a>
                            ||
                            <strong>

                                <a href="/jobs/Details?id={{job.jobID}}">Job's Details</a>
                                |
                                <a href="/projects/Details?id={{job.projectID}}">Project's Details</a>

                            </strong>
                            ||
                            <a href="/jobs/Delete?id={{job.jobID}}">Delete</a> |



                            <timelog-link-options job-id="{{job.jobID}}" timelog-id="" total-seconds="" serving-page="Projects_Search"></timelog-link-options>


                        </td>


                </tbody>
            </table>

            <div ng-controller="utilityController">
                <div ng-if="sqlStatsRecord" paging-directive pagingmethod="$parent.pagingmethod101(sqlStatsRecord)" databag="databag" sqlstatsrecord="sqlStatsRecord"></div>
            </div>

        </ng-content>

    </div>


</div>


