@*
    // 08/26/2020 09:38 pm - SSN - [20200826-2138] - [001] - Save-and-stay control
*@
<div class="fixed_101">
    <a href="#" class=""
       data-bind="click: saveAndStay" title="Save and Stay!" ko__fieldName_prefix="DevSite." ko_demosites_pages>SaS</a>
    <div id="devSiteSaveStatus"></div>
</div>
