@model SaveAndStayModel
@*
    // 08/26/2020 09:38 pm - SSN - [20200826-2138] - [001] - Save-and-stay control
*@

<div class="fixed_101_sas">
    <a href="#" class=""
       data-bind="click: saveAndStay"
       title="Save and Stay!"
       ko__inputFormId="@Model.ko__inputFormId"
       ko__fieldName_prefix="@Model.ko__fieldName_prefix"
       ko__api_url="@Model.ko__API_URL"
       ko_demosites_pages>SaS</a>
    <div id="devSiteSaveStatus"></div>
</div>
