@page
@model DevSitesIndex.Pages.Error.ErrorModel
@{
    ViewData["Title"] = "ErrorModel";
}

<h2>ErrorModel</h2>
@{
    if (Model.HasFeedbackToUser)
    {
        @Html.Raw(Model.FeedbackToUser_AsHtml)
    }
}ErrorModel