@page
@model DevSitesIndex.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Jobs - Index";


    // 09/16/2019 11:08 pm - SSN - [20190916-1123] - [013] - Adding job status


}

<h2>@ViewData["Title"]</h2>

@*// 04/12/2019 07:18 am - SSN - [20190412-0718] - Move timesheet implementation to job index page. Having imact on "Save and Stay" of Dev sites.*@

@*06/01/2019 11:24 am - SSN - Adding class="hidden-xs"*@

@{
    // 11/23/2019 09:04 am - SSN - Replace ng-app
    ViewBag.InitModule_Full = "data-ng-app=\"timesheetApp\"";
}


@*
    // 11/13/2019 09:58 pm - SSN - [20191113-1946] - [010] - ReturnToCaller
    // Adding Model.returnToCallerKey
*@
@Html.HiddenFor(r => Model.returnToCallerKey)


@*
    <div ng-app="timesheetApp">
*@
 
@await Html.PartialAsync("Jobs_Index" )
 


@section Scripts {




    @*

        // 09/2019/2019 11:45 am - SSN - [20190920-1145] [001} - RunWhatJavaScriptVersion  left out

    *@


    @{



        if (Program.RunWhatJavaScriptVersion == Program.whatJavaScriptVersion.Original)
        {
            await Html.RenderPartialAsync("TimesheetAngularScripts");

            <script type="module" src="~/js/Jobs/JobsIndexController.js" asp-append-version="true"></script>
            <script type="module" src="~/js/Util/headerWithSort.js" asp-append-version="true"></script>
            <script type="module" src="~/js/Util/pagingDirective.js" asp-append-version="true"></script>

        }



        if (Program.RunWhatJavaScriptVersion == Program.whatJavaScriptVersion.Babel_Only)
        {
            await Html.RenderPartialAsync("TimesheetAngularScripts");

            <script type="module" src="~/babel_lib/Jobs/JobsIndexController.js" asp-append-version="true"></script>
            <script type="module" src="~/babel_lib/Util/headerWithSort.js" asp-append-version="true"></script>
            <script type="module" src="~/babel_lib/Util/pagingDirective.js" asp-append-version="true"></script>

        }




        if (Program.RunWhatJavaScriptVersion == Program.whatJavaScriptVersion.Webpack)
        {

            <script src="~/webpack_build/bundle_jobsIndex.js" asp-append-version="true"></script>
        }






    }

}




