@page
@model DevSitesIndex.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Jobs - Index";


    // 09/16/2019 11:08 pm - SSN - [20190916-1123] - [013] - Adding job status


}

<h2>@ViewData["Title"]</h2>

@*// 04/12/2019 07:18 am - SSN - [20190412-0718] - Move timesheet implementation to job index page. Having imact on "Save and Stay" of Dev sites.*@

@*06/01/2019 11:24 am - SSN - Adding class="hidden-xs"*@
<div ng-app="timesheetApp">

    <p>
        <a asp-page="Create">Create New</a>
    </p>


    <div ng-controller="jobsIndexController">

        <div ng-controller="utilityController">
            <span job-status-directive></span>
        </div>

        <table class="table table-responsive" height="300">

            <thead ng-controller="utilityController">
                <tr>
                    <th header-with-sort columnlist="item" sortmethod="$parent.$parent.sortMethod101(item)" ng-repeat="item in fieldsList"></th>
                </tr>
            </thead>


            <tbody>

                <tr ng-repeat="job in databag.jobs">


                    <td>
                        {{job.projectTitle_ForActivity}}
                    </td>
                    <td>
                        <div class="truncateLongText">{{job.jobTitle}}</div>
                    </td>

                    <td class="indexNowrapCol hidden-xs">
                        {{job.dateAdded}}
                    </td>

                    <td class="indexNowrapCol hidden-xs">
                        {{job.dateUpdated}}
                        <br>
                        <b>
                            {{job.lastActivityDate}}

                        </b>
                    </td>

                    <td class="indexNowrapCol hidden-xs">
                        {{job.activityAge_ToString}}
                    </td>





                    <td class="indexNowrapCol">
                        <a href="/jobs/Edit?id={{job.jobID}}">Edit</a>
                        ||
                        <strong>

                            <a href="/jobs/Details?id={{job.jobID}}">Job's Details</a>
                            |
                            <a href="/projects/Details?id={{job.projectID}}">Project's Details</a>

                        </strong>
                        ||
                        <a href="/jobs/Delete?id={{job.jobID}}">Delete</a> |

                        <a ng-click="showCreateTimesheetForm(job.jobID)">Clock-in</a>

                    </td>


            </tbody>
        </table>

        <div ng-controller="utilityController">
            <div ng-if="sqlStatsRecord" paging-directive pagingmethod="$parent.pagingmethod101(sqlStatsRecord)" databag="databag" sqlstatsrecord="sqlStatsRecord"></div>
        </div>


    </div>


</div>



@section Scripts {




    @*

        // 09/2019/2019 11:45 am - SSN - [20190920-1145] [001} - RunWhatJavaScriptVersion  left out

    *@


    @{



        if (Program.RunWhatJavaScriptVersion == Program.whatJavaScriptVersion.Original)
        {
            await Html.RenderPartialAsync("TimesheetAngularScripts");

            <script type="module" src="~/js/Jobs/JobsIndexController.js" asp-append-version="true"></script>
            <script type="module" src="~/js/Util/headerWithSort.js" asp-append-version="true"></script>
            <script type="module" src="~/js/Util/pagingDirective.js" asp-append-version="true"></script>

        }



        if (Program.RunWhatJavaScriptVersion == Program.whatJavaScriptVersion.Babel_Only)
        {
            await Html.RenderPartialAsync("TimesheetAngularScripts");

            <script type="module" src="~/babel_lib/Jobs/JobsIndexController.js" asp-append-version="true"></script>
            <script type="module" src="~/babel_lib/Util/headerWithSort.js" asp-append-version="true"></script>
            <script type="module" src="~/babel_lib/Util/pagingDirective.js" asp-append-version="true"></script>

        }




        if (Program.RunWhatJavaScriptVersion == Program.whatJavaScriptVersion.Webpack)
        {

            <script src="~/webpack_build/bundle_timesheetapp.js" asp-append-version="true"></script>
        }






    }

}




