<p>
  project-jobs-list works!
</p>


<div class="col-md-2">

  <strong>Jobs List</strong>
</div>

<div class="col-md-4">
  <a *ngIf="!addMode" (click)="addJob()">Add new job</a>
  <a *ngIf="addMode" (click)="cancelAddJob()">Cancel adding new job</a>
</div>


<div *ngIf="!addMode">
  <div class="container row" *ngFor="let job of jobs">

    <div class="col-md-10 col-md-offset-2 well">

      <dl class="dl-horizontal">
        <dt>Age</dt>
        <dd>{{job.activityAge_ToString}}</dd>
        <dt>Date Added</dt>
        <dd>{{job.dateAdded}}</dd>
        <dt>Date Updated</dt>
        <dd>{{job.dateUpdated}}</dd>
        <dt>Job Title</dt>
        <dd>{{job.jobTitle}}</dd>
      </dl>


    </div>
  </div>
</div>

<app-project-create-job *ngIf="addMode" (saveNewJob)="saveNewProjectJob($event)" (cancelNewJob)="cancelNewProjectJob($event)"></app-project-create-job>

