

<div ng-controller="ModalCallSUtilController">

    <div class="cssDevsiteTags">
        <ng-content ng-repeat="x in theTags.devSiteTechnologies track by x.id">
            <span class="indexNowrapOption">
                <tag>{{x.technology.description}}</tag>
                <i class="glyphicon glyphicon-pencil" ng-click="addDevSiteTag(x)" title="Update this tag"></i>
                <i class="glyphicon glyphicon-remove" ng-click="removeDevSiteTag(x)" title="Remove this tag"></i>
            </span>
        </ng-content>

        <i style="padding-left:30px;" title="Add a new entry" class="glyphicon glyphicon-plus" ng-click="addDevSiteTag()"></i>
    </div>



    <div ng-show="addingDevSiteTag" class="cssAddNewDevSiteTag">

        <form name="devSiteTagsForm" novalidate>

            <p> Add new tag</p>

            <dropdown-list-directive call-source="20210613-2131"
                                     key="technologyId"
                                     form-name="devSiteTagsForm"
                                     ng-model="editableDevSite.technologyId"
                                     add-func="addNewTechnology(containerViewValue )"
                                     add-func-source="addNewTechnologyxxxx"
                                     container-view-value="containerViewValue"></dropdown-list-directive>


            <div ng-if="feedbackToUserText" ng-class="feedbackToUserClassNameSet()">
                <div ng-bind-html="feedbackToUserText"></div>
            </div>

            <button class="btn btn-default" ng-click="cancelNewDevsiteTag()">Cancel</button>
            <button class="btn btn-primary" ng-click="saveNewDevsiteTag()" ng-disabled="devSiteTagsForm.$invalid || disableSaveButton">Save</button>

        </form>

    </div>

    <div ng-show="removingDevSiteTag" class="cssAddNewDevSiteTag">

        <p>Confirm that you want the tag [{{devSiteTechnologySelectedRecord.technology.description}}] removed</p>

        <div ng-if="feedbackToUserText" ng-class="feedbackToUserClassNameSet()">
            <div ng-bind-html="feedbackToUserText"></div>
        </div>

        <button class="btn btn-danger" ng-click="confirmedRemoveDevSiteTag()">Remove</button>
        <button class="btn btn-default" ng-click="cancelRemoveDevSiteTag()">Cancel</button>

    </div>


</div>


<style>
    .cssDevsiteTags {
        padding: 10px;
        background-color: #ddd;
        margin: 20px;
    }

        .cssDevsiteTags span {
            padding: 2px 10px 2px 2px;
            background-color: #ccc;
            margin: 5px 10px 5px 0px;
        }

        .cssDevsiteTags tag {
            padding: 2px 10px 2px 5px;
            background-color: #eee;
        }

    .cssAddNewDevSiteTag {
        margin: 20px;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 3px;
        background-color: white;
    }
</style>
