

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@Startup.SITE_NAME_STRING</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">



        <li><a href="/DemoSites/Index">Sites</a></li>
        <li><a href="/home/about">About</a></li>
        <li><a href="/Home/Contact">Contact</a></li>

        <li class="dropdown-submenu">

          <a class="dropdown-toggle" data-toggle="dropdown">Jobs  <span class="caret"></span></a>

          <ul class="dropdown-menu">

            <li><a href="/Companies">Companies</a></li>
            <li><a href="/Discipline">Disciplines</a></li>
            <li><a href="/Projects">Projects</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/TimeLogs">Timelog</a></li>
            <li><a href="/timesheet">Timelog (Angular 7)</a></li>
            <li><a href="/ReferenceSites">Reference Sites</a></li>
            <li><a href="/CodeReferences">Code</a></li>
            <li><a href="/CommandLine">Command Line</a></li>
            <li><a href="/DevSites">Demo Sites</a></li>


          </ul>

        </li>

      </ul>

      <ul class="nav navbar-nav " style="float:right;">
        <li *ngIf="!authenticateService.isAuthenticated()">
          <a [routerLink]="['/user/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="authenticateService.isAuthenticated()">
          <a id="manage" class="nav-link text-dark" title="Manage" [routerLink]="['/user/profile']"><span [innerText]="getGreetingMessage()"></span></a>
        </li>
        <li class="nav-item" *ngIf="authenticateService.isAuthenticated()">
          <form id="logoutForm" class="form-inline" action="/Identity/Account/Logout?returnUrl=%2F%3Fpage%3D%252FIndex" method="post">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark menu_button">Logout</button>
          </form>
        </li>
      </ul>



    </div>
  </div>
</nav>
