
<input type="text"
       ng-model="vm101.disciplineSelected_XXX"
       ng-change="vm101.changing()"
       placeholder="Select..."
       uib-typeahead="discipline as discipline.title for discipline in vm101.getDisciplines($viewValue)"
       typeahead-loading="loadingLocations"
       typeahead-no-results="noResults"
       typeahead-on-select="vm101.typeaheadOnSelect($item,$model,$label)"
       typeahead-select-on-blur="true"
       typeahead-select-on-exact="true"
       ng-model-options="{ debounce: 400 }"
       class="form-control"
       dropdown-list-directive-input-box="aaa,coconuts,bananas,pears"
       dropdown-list-directive-input-box-inverse="{{vm101.dropdownListDirectiveInputBoxInverse}}"
       name="{{vm101.tempControlName}}"
       key-column="{{vm101.keyColumn}}"
       ng-required="{{true}}">**



<i ng-show="loadingLocations " class="glyphicon glyphicon-refresh"></i>

<div ng-show="noResults && vm101.dropdownListDirectiveInputBoxInverse != 'true'">
    <i class="glyphicon glyphicon-remove"></i> &nbsp; No Results Found
    <span ng-show="vm101.parentKeyName && !vm101.parentKeyColumn" class="alert alert-info">  &nbsp; &nbsp; You need to select the previous field first.</span>
</div>



<ng-content ng-show="vm101.controlRef (vm101.tempControlName).$dirty ">
  

    <p class="has-error" ng-show="vm101.errorTriggeredWithControlName (vm101.tempControlName,'dropdownListDirectiveInputBox')">Invalid input</p>
     

    <p class="has-error" ng-show="vm101.controlRef (vm101.tempControlName).$invalid">
        selection is required. (5)

        <span ng-show="noResults && ( !vm101.dropdownListDirectiveInputBoxInverse || vm101.dropdownListDirectiveInputBoxInverse != 'true' ) && vm101.addFuncSource">
            &nbsp; &nbsp; &nbsp; <a ng-click="vm101.addFunc()">Add new item</a>
        </span>
    </p>


</ng-content>


