

<h3>Login</h3>

<hr />

<div class="col-md-4">

  <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm.value)" novalidate>

    <div class="form-group">
      <label for="userName">Email: </label>

      <!--(input)="userName=$event.target.value"-->
      <em *ngIf="(loginForm.controls.email?.touched || mouseoverLogin) && loginForm.controls.email?.invalid">Required</em>
      <input (ngModel)="email" name="email"
             id="userName"
             type="text" class="form-control" placeholder="Email..." autofocus required />
    </div>

    <div class="form-group">
      <label for="password">Password: </label>

      <em *ngIf="(loginForm.controls.password?.touched || mouseoverLogin) && loginForm.controls.password?.invalid">Required</em>

      <input (ngModel)="password" name="password"
             id="password" type="password" class="form-control" placeholder="Password..." required />

    </div>
    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button> &nbsp;
    </span>

    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    <br />
    <div [ngClass]="{error:feedbackMessage}"
         [innerHtml]="feedbackMessage">
    </div>
    <br />
    <br />
    <input type="checkbox" [(ngModel)]="displayProps" name="displayProps" value="true" />
  </form>

</div>

<div *ngIf="displayProps">

  <div class="col-md-3 col2">
    <dl class="dl-horizontal">

      <dt>loginForm.valid</dt>
      <dd>{{loginForm.valid}}</dd>

      <dt>loginForm.invalid</dt>
      <dd>{{loginForm.invalid}}</dd>

      <dt>loginForm.dirty</dt>
      <dd>{{loginForm.dirty}}</dd>

      <dt>loginForm.pristine</dt>
      <dd>{{loginForm.pristine}}</dd>

      <dt>loginForm.submitted</dt>
      <dd>{{loginForm.submitted}}</dd>

      <dt>loginForm.touched</dt>
      <dd>{{loginForm.touched}}</dd>

      <dt>loginForm.untouched</dt>
      <dd>{{loginForm.untouched}}</dd>



    </dl>

  </div>


  <div class="col-md-5 col3">

    <dl class="dl-horizontal">

      <dt>loginForm.controls.email.valid</dt>
      <dd>{{loginForm.controls.email.valid}}</dd>

      <dt>loginForm.controls.email.invalid</dt>
      <dd>{{loginForm.controls.email.invalid}}</dd>

      <dt>loginForm.controls.email.dirty</dt>
      <dd>{{loginForm.controls.email.dirty}}</dd>

      <dt>loginForm.controls.email.pristine</dt>
      <dd>{{loginForm.controls.email.pristine}}</dd>

      <dt>loginForm.controls.email.touched </dt>
      <dd>{{loginForm.controls.email.touched}}</dd>

      <dt>loginForm.controls.email.untouched </dt>
      <dd>{{loginForm.controls  .email.untouched}}</dd>



    </dl>
  </div>

</div>
