

<h3>Login</h3>

<hr />

<div class="col-md-4">

  <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login(loginForm.value)">

    <div class="form-group">
      <label for="userName">User Name:</label>

      <!--(input)="userName=$event.target.value"-->

      <input (ngModel)="email" name="email"
             id="userName"
             type="text" class="form-control" placeholder="Email..." autofocus />
    </div>

    <div class="form-group">
      <label for="password">Password</label>

      <input (ngModel)="password" name="password"
             id="password" type="password" class="form-control" placeholder="Password..." />

    </div>

    <button type="submit" class="btn btn-primary">Login</button> &nbsp;
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>

  </form>

</div>
