

.col2 dt {
  width: 180px;
  padding: 0px 20px 0px 0px;
  text-align: left;
  font-size: 12px;
}

.col3 dt {
  width: 300px;
  padding: 0px 20px 0px 0px;
  text-align: left;
  font-size: 12px;
}


dd {
  font-size: 12px;
}

em{
  float:right;
  color:red;
  background-color:lightgoldenrodyellow;
  padding:2px;
}
