
<app-timesheet-menu></app-timesheet-menu>

<div class="row">

  <div *ngFor="let timesheet of timesheets" class="col-md-5">

    <!-- timesheetThumnail: template variable -->
    <app-thumbnail #timesheetThumbnail [timesheet]="timesheet" (eventClick)="handleThumbnailClick($event)"></app-thumbnail>
    <button class="btn btn-info" (click)="timesheetThumbnail.testFunction()">Call thumbnail test</button>
    <br />
    Thumbnail somePropertyInThumnail [{{timesheetThumbnail.somePropertyInThumnail}}]
    <br />
    <br />
  </div>

</div>
