


<a ssnobject2="topOfThePage2"></a>

<div class="row">
  <div class="col-md-6">

    <!-- 10/21/2019 04:51 am - SSN - [20191021-0444] - [002] - M12 - Creating directives and advanced components in Angular. -->

    <form id="serachForm" (ngSubmit)="searchTimesheets()" autocomplete="off" novalidate>
      <div class="form-group">
        <input [(ngModel)]="searchTerm" name="searchTerm" type="search" class="form-control" placeholder="Search timelog entries..." />

        <!--app-modal-trigger="timelogSearchResults"-->

        <button class="btn btn-default">Search</button>
        <button class="btn btn-default" (click)="resetSearch()">Reset</button>
      </div>
    </form>

  </div>
</div>


<!-- 10/21/2019 05:47 am - SSN - [20191021-0444] - [005] - M12 - Creating directives and advanced components in Angular. -->
<app-timelog-modal elementId="timelogSearchResults" title="Matching Timelog Entries" closeOnClick="true">
  <div class="list-group">
    <!--
              [routerLink]="['/timelog',timesheet_modal.timelogId]"
              app-modal-trigger="timelogShowSelected"
    -->
    <a class="list-group-item" *ngFor="let timesheet_modal of timesheets_for_modal" [routerLink]="['/timelog',timesheet_modal.timelogId]">
      [{{timesheet_modal.projectTitle}}] - [{{timesheet_modal.jobTitle}}] - [{{timesheet_modal.disciplineShort}}]
    </a>
  </div>
</app-timelog-modal>


<!-- // 10/21/2019 12:30 pm - SSN - [20191021-1230] - [001] - Modal for displaying selectd entry -->
<app-timelog-modal elementId="timelogShowSelected" title="Selected Entry">
  <h1>Show-1232</h1>
</app-timelog-modal>

<div class="row">

  <div *ngFor="let timesheet of timesheets" class="col-md-5">

    <!-- timesheetThumnail: template variable -->
    <app-thumbnail #timesheetThumbnail [timesheet]="timesheet" (eventClick)="handleThumbnailClick($event)"></app-thumbnail>
    <button class="btn btn-info" (click)="timesheetThumbnail.testFunction()">Call thumbnail test</button>
    <br />
    <br />
    <br />
  </div>

</div>



<app-page-v02-custom (skipActionOwner)="skipTimelog($event)" [sqlStatsRecord]="sqlStatsRecord" [scrollIntoViewSelector]="'[ssnobject2=topOfThePage2]'"></app-page-v02-custom>
