<h3>Sites Index - 20180831-1207</h3>

<a class="btn btn-primary" href="#/detail">Go to detail page</a>

<h2>Site Index 2c</h2>
 

<p>Templates/SitesIndex.html - Begin  (demoSiteIndexController_101)</p>

<div data-ng-controller="demoSiteIndexController_101">
  
    <div class="progress progress-striped active" data-ng-show="isBusy2">
       <div class="progress-bar" style="width: 100%;"></div>
    </div>
    <h4>( | limitTo:5)</h4>
    <div data-ng-repeat="i in data_local()   | limitTo:5 ">



        <div class="container-fluid">
            <div class="siteDiv">


                <a ng-show="i.siteUrl" class="siteTitle" href="{{ i.siteUrl}}" target="window2_{{ i.id }}">{{ i.siteTitle }}</a>

                <span ng-show="!i.siteUrl" class="siteTitle">{{ i.siteTitle }}</span>

                <!--// 04/07/2019 12:51 pm - SSN - [20190407-1250] - Adding AngularJS call to edit DevSite-->

                <p> <a ng-click="editCommand101()">Edit ***</a></p>

            </div>
        </div>


    </div>
</div>

<p>Templates/SitesIndex.html - End</p>

<hr />
