@page
@model DevSitesIndex.Pages.PrivacyPolicyModel
@{
	 ViewData["Title"] = "Privacy Policy";
}
 

<h3>@ViewData["Title"]</h3>
<hr />

<p>This is a test website.&nbsp; It is used for demonstration purposes only.&nbsp; Any data collected, including coookies, is only used to operate and optimize the website.</p>

<p>Any data we collect is never shared, rented, nore sold.&nbsp; For inactive users, all data is purged every thirty days.</p>

<p>We never contact any users for any reason.</p>

<p><a href="/home/contact/">Contact us</a> if you believe that we are not honoring any of the above.</p>