@page
@model DevSitesIndex.Pages.CommandLine.IndexModel
@{
}

@{
    ViewData["Title"] = "Command Line";
}

<h2>@ViewData["Title"]</h2>

<br />
<br />
<form method="post">
    <input asp-for="AccessKey" type="password" value="@Model.AccessKey" autofocus />

    <br />
    <br />

    <div>
        <input type="checkbox" asp-for="WaitForExit" />
        Wait for process
    </div>
<textarea asp-for="CommandText" rows="20" style="width:100%" autofocus>

</textarea>
    <br />


    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>
Errors:
<pre>
@Model.Results_Error
</pre>
<hr />
Output:
<pre>
@Model.Results_Output
</pre>