<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    
    <!-- 04/27/2019 03:32 pm - SSN - Changed stdoutLogEnabled to "true" - Trying to find cause for 502.5 error-->

    <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" stdoutLogEnabled="true">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>