<div class="jobStatusChangeRecord_off" ng-hide="displayContent">


        <a ng-click="showContent()">
            Test-1115-1605-A2
        </a>

</div>

<div class="jobStatusChangeRecord_on" ng-show="displayContent">

        <a ng-click="showContent()">
             Test-1115-1605-Content
        </a>
        <p>

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam eos consectetur quod ipsam voluptate! Inventore ullam hic, labore error quibusdam quod quia eaque reiciendis, cupiditate aliquid minus qui distinctio beatae?
            At culpa quibusdam expedita eveniet nulla ad quis minima odio possimus accusamus, necessitatibus suscipit atque omnis nam qui ipsam veniam officiis voluptas dolor veritatis! Minus fugiat at a mollitia itaque.
        </p>


</div>

