

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
    padding: 24px 0 0 0;
}

h2, h3, h4, h5 {
    padding: 18px 0 0 0;
}


a {
    cursor: pointer;
}


fieldset {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: #efefef;
}



.table > tbody > tr.detail > td {
    border: 0px;
    font-style: italic;
    font-size: 1.3rem;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*07/29/2018 11:51 am - SSN */

td, .siteDiv {
    padding: 5px 10px;
    vertical-align: text-top;
}

.siteDiv {
    border-bottom: 10px solid white;
}

.forDemo_Yes {
    background-color: #f0faf0;
}

.forDemo_No {
    background-color: #f7edf3;
}

.forDemo_Undecided {
    background-color: #faf9f0;
}


/* 05/30/2019 06:32 pm - SSN - Added query media */
@media only screen and (min-width: 560px) {

    .codeblock1 {
        width: 900px;
        min-height: 200px;
    }


    .codeblock2 { /* Match maxWidthCol1 */
        width: 600px;
        height: 200px;
    }
}

.codeblock1 {
    min-height: 200px;
}


.codeblock2 { /* Match maxWidthCol1 */
    height: 200px;

    /* 06/01/2019 02:58 pm - SSN Added white-space */
    white-space: pre-line;
}


    .codeblock2 i {
        background-color: yellow;
        padding: 3px;
    }

.info_good {
    padding: 5px 20px;
    color: black;
    background-color: lightgreen;
}

.info_bad {
    padding: 5px 20px;
    color: black;
    background-color: lightcoral;
}

.solution_details {
    margin: 0px;
    padding: 0px 20px 10px 20px;
}

a[cmd-name="showsibling"] {
    color: firebrick;
    background-color: #faf9f0;
    margin: 10px;
    font-weight: bold;
}

.menuOptions {
    padding: 5px 20px 10px 20px;
    /* 05/14/2019 04:17 am - SSN Copied from maxWidthCol1  */
    max-width: 600px; /* Match codeblock2*/
    /*white-space: pre-wrap;*/ /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}

.siteTitle {
    font-size: 14pt;
}

/*// 03/29/2019 10:03 pm - SSN - Add div siteTitleDiv title to give space*/
.siteTitleDiv {
    padding: 8px 8px 20px 8px;
}


.menuOptions a {
    margin: 0px 0px 0px 20px;
    font-size: 10pt;
}

.menuOptions p {
    font-size: 10pt;
}

.error {
    background-color: lightyellow;
    color: red;
    padding: 5px 10px;
}


/*03/14/2019 09:04 samp - SSN*/
.indexNowrapCol {
    font-size: 8pt;
    white-space: nowrap;
}

.maxWidthCol1 {
    /* 05/14/2019 04:17 am - SSN Copied to menuOptions */
    max-width: 600px; /* Match codeblock2*/
    /*white-space: pre-wrap;*/ /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}

.has-error {
    color: red
}


/* 05/07/2019 09:24 pm - SSN - Copied from __SharedScripts\css_101.css */
.note {
    background-color: lightyellow;
    font-style: italic;
    font-size: 80%;
    padding: 5px 20px 5px 40px;
}

n {
    background-color: yellow;
}

h {
    font-weight: bold;
    color: red;
}

alarm {
    background-color: red;
    color: yellow;
    font-weight: bold;
}

.padded {
    margin:10px 0px;
    padding: 20px;
    background: rgba(255,255,255,0.5);
    /*-khtml-opacity: .50;
    -moz-opacity: .50;
    -ms-filter: ”alpha(opacity=50)”;
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity: .50;*/
}
/*09/11/2019 09:08 pm - SSN*/
.indented {
    padding: 0px 20px 20px 20px ;
    background: rgba(255,255,255,0.5);
}

.evenRow{
    background-color:#eee;
}
.oddRow {
    background-color: #ddd;
}