body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*07/29/2018 11:51 am - SSN */

td, .siteDiv {
    padding: 5px 10px;
    vertical-align: text-top;
}

a
{
    cursor:pointer;
}

.info_good {
    padding: 5px 20px;
    color: black;
    background-color:lightgreen;
   
}
.info_bad {
    padding: 5px 20px;
    color:black;
    background-color:lightcoral;
}

.solution_details {
    margin:0px;
    padding: 0px 20px 10px 20px  ;
    white-space:pre
}

.menuOptions {
    padding:5px 20px 10px 20px;
}
.siteTitle {
    font-size:14pt;
}
.menuOptions a {
    margin: 0px 0px 0px 20px;
    font-size:10pt;
}