@page
@model DevSitesIndex.Pages.DevSites.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DevSite</h4>
@*03/19/2019 10:48 pm - SSN - Added*@
<div asp-validation-summary="All"></div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="devSiteForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DevSite.Id" />
            <div class="form-group">
                <label asp-for="DevSite.SiteTitle" class="control-label"></label>
                <input asp-for="DevSite.SiteTitle" class="form-control" autofocus />
                <span asp-validation-for="DevSite.SiteTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevSite.SiteUrl" class="control-label"></label>
                <input asp-for="DevSite.SiteUrl" class="form-control" />
                <span asp-validation-for="DevSite.SiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevSite.SolutionName" class="control-label"></label>
                <input asp-for="DevSite.SolutionName" class="form-control" />
                <span asp-validation-for="DevSite.SolutionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevSite.Solution_Details" class="control-label"></label>
                <textarea cols="40" rows="5" asp-for="DevSite.Solution_Details" class="form-control">

</textarea>
                <span asp-validation-for="DevSite.Solution_Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevSite.SoftwareCodeID" class="control-label"></label>
                <select asp-for="DevSite.SoftwareCodeID" class="form-control"
                        asp-items="@Model.softwareCodesSL">
                    <option value="">Select development software...</option>
                </select>

                <span asp-validation-for="DevSite.SoftwareCodeID" class="text-danger"></span>
            </div>


            @*// 03/19/2019 12:04 am - SSN - [20190318-2350] Added*@


            <div class="form-group">
                <input type="checkbox" asp-for="DevSite.CanBeLaunched" />
                <label asp-for="DevSite.CanBeLaunched" class="control-label"></label>
                <span asp-validation-for="DevSite.CanBeLaunched" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="DevSite.DateAdded" class="control-label"></label>
                <input asp-for="DevSite.DateAdded" class="form-control" />
                <span asp-validation-for="DevSite.DateAdded" class="text-danger"></span>
            </div>


            @*10/12/2018 03:58 pm - SSN - Added*@
            <div class="form-group">
                <label asp-for="DevSite.DateUpdated" class="control-label"></label>
                <input asp-for="DevSite.DateUpdated" class="form-control " data-ng-model="devSiteRecord.DateUpdated" />
                <span asp-validation-for="DevSite.DateUpdated" class="text-danger"></span>
            </div>


            @*// 03/19/2019 09:17 pm - SSN - [20190319-2117] Added ForDemo*@

            <div class="form-group">

                @*// 03/19/2019 10:13 pm - SSN - [20190319-2117]  ForDemo to ForDemo_v02*@

                <label asp-for="DevSite.ForDemo_v02" class="control-label"></label>

                @*// 03/20/2019 03:42 am - SSN - [20190319-2117]  ForDemo_v02 revised*@

                @foreach (DevSitesIndex.EnumList.ForDemoState o in Enum.GetValues(typeof(DevSitesIndex.EnumList.ForDemoState)))
                {
                    string description = o.GetDescription();
                    int key = (int)o;
                    <input asp-for="DevSite.ForDemo_v02" type="radio" value="@key" /> @description
                }
                <span asp-validation-for="DevSite.ForDemo_v02" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input cmd-name="debug-mvc-angular" type="submit" value="Save" class="btn btn-default" />

                <a href="#" class="btn btn-default"
                   data-bind="click: requestDelConfirm">Save and stay</a>
                <span id="devSiteSaveStatus"></span>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@*// 03/19/2019 10:52 pm - SSN - [20190319-2117]  This was comments out.  No notes.  Discovered while testing remote validation on ForDemo_v02. It didn't work before reactivating scripts.'
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}





    <script>

        // Knockout related

        $(function () {

            var ViewModel = function () {

                this.currentItem = {};

                this.requestDelConfirm = function (itemToDelete) {



                    var data101 = $('#devSiteForm').serializeArray();

                    console.log(data101);


                    var ndx = 0;


                    var o5 = new Object();

                    for (ndx = 0; ndx < data101.length; ndx++) {
                        var _name = data101[ndx].name.replace('DevSite.', '');

                        if (data101[ndx].name.indexOf("DevSite.") > -1) {
                            o5[_name] = data101[ndx].value;
                        }
                    }



                    console.log(o5);

                    var method = "Post";

                    if (o5.Id > 0) {
                        method = "Put";
                    }



                    $("#devSiteSaveStatus").fadeIn('slow');
                    $("#devSiteSaveStatus").removeClass();

                    $.ajax({
                        type: method,
                        url: "/api/DevSites_Testing/66",
                        data: JSON.stringify(o5),
                        contentType: "application/json",
                        dataType: "json",

                        success: function (response) {

                            $("#devSiteSaveStatus").html("Record saved.");
                            $("#devSiteSaveStatus").addClass('text-success');


                            setTimeout(() => { $("#devSiteSaveStatus").fadeOut('slow') }, 3000);
                        },
                        failure: function (response) {
                            $("#devSiteSaveStatus").html("Failed to save record.<br/>" + response.responseText);
                            $("#devSiteSaveStatus").addClass('text-danger');
                            alert("Failure-20190328-0705");
                            alert(response.responseText);
                        },
                        error: function (response) {
                            $("#devSiteSaveStatus").html("System error! Record not saved.<br/>" + response.responseText);
                            $("#devSiteSaveStatus").addClass('text-danger');

                            alert("Error-20190328-0704");
                            alert(response.responseText);
                        }
                    });



                };



            };

            var vm = new ViewModel();
            ko.applyBindings(vm);
        });

    </script>






}













