@page
@model DevSitesIndex.Pages.DevSites.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DevSite</h4>
@*03/19/2019 10:48 pm - SSN - Added*@
<div asp-validation-summary="All"></div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DevSite.Id" />
            <div class="form-group">
                <label asp-for="DevSite.SiteTitle" class="control-label"></label>
                <input asp-for="DevSite.SiteTitle" class="form-control" autofocus />
                <span asp-validation-for="DevSite.SiteTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevSite.SiteUrl" class="control-label"></label>
                <input asp-for="DevSite.SiteUrl" class="form-control" />
                <span asp-validation-for="DevSite.SiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevSite.SolutionName" class="control-label"></label>
                <input asp-for="DevSite.SolutionName" class="form-control" />
                <span asp-validation-for="DevSite.SolutionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevSite.Solution_Details" class="control-label"></label>
                <textarea cols="40" rows="5" asp-for="DevSite.Solution_Details" class="form-control">

</textarea>
                <span asp-validation-for="DevSite.Solution_Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevSite.SoftwareCodeID" class="control-label"></label>
                <select asp-for="DevSite.SoftwareCodeID" class="form-control"
                        asp-items="@Model.softwareCodesSL">
                    <option value="">Select development software...</option>
                </select>

                <span asp-validation-for="DevSite.SoftwareCodeID" class="text-danger"></span>
            </div>


            @*// 03/19/2019 12:04 am - SSN - [20190318-2350] Added*@


            <div class="form-group">
                <input type="checkbox" asp-for="DevSite.CanBeLaunched" />
                <label asp-for="DevSite.CanBeLaunched" class="control-label"></label>
                <span asp-validation-for="DevSite.CanBeLaunched" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="DevSite.DateAdded" class="control-label"></label>
                <input asp-for="DevSite.DateAdded" class="form-control" />
                <span asp-validation-for="DevSite.DateAdded" class="text-danger"></span>
            </div>


            @*10/12/2018 03:58 pm - SSN - Added*@
            <div class="form-group">
                <label asp-for="DevSite.DateUpdated" class="control-label"></label>
                <input asp-for="DevSite.DateUpdated" class="form-control " data-ng-model="devSiteRecord.DateUpdated" />
                <span asp-validation-for="DevSite.DateUpdated" class="text-danger"></span>
            </div>


            @*// 03/19/2019 09:17 pm - SSN - [20190319-2117] Added ForDemo*@

            <div class="form-group">

                @*// 03/19/2019 10:13 pm - SSN - [20190319-2117]  ForDemo to ForDemo_v02*@

                <label asp-for="DevSite.ForDemo_v02" class="control-label"></label>

                @foreach (int key in Enum.GetValues(typeof(DevSitesIndex.EnumUtil.ForDemoState)))
                {
                    string name = Enum.GetName(typeof(DevSitesIndex.EnumUtil.ForDemoState), key);
                    <input asp-for="DevSite.ForDemo_v02" type="radio" value="@key" /> @name
                }

                <span asp-validation-for="DevSite.ForDemo_v02" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input cmd-name="debug-mvc-angular" type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@*// 03/19/2019 10:52 pm - SSN - [20190319-2117]  This was comments out.  No notes.  Discovered while testing remote validation on ForDemo_v02. It didn't work before reactivating scripts.'
    *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
