<!--

// 11/14/2019 06:56 pm - SSN - [20191114-1856] - [001] - Timelog clockout option

-->

<form name="timesheetForm" novalidate>

    <div class="modal-header">
        <h2>{{pageTitle}}  <span style="font-size:16px;" ng-if="versionForHTMLRefresh">(Ver. {{versionForHTMLRefresh}})</span></h2>
        <table>
            <tr>
                <td>Project </td>
                <td>{{editableTimeLog.job.project.projectTitle}}</td>
            </tr>
            <tr>
                <td>Job</td>
                <td>{{editableTimeLog.job.jobTitle}}</td>
            </tr>

        </table>

    </div>

    <div class="modal-body">


        <input type="hidden" name="id" ng-model="editableTimeLog.id" />
        <input type="hidden" name="timeLogId" ng-model="editableTimeLog.timeLogId" />

        <fieldset>

            <div class="form-group">

                <label for="discipline" class="col-sm-3 control-label">
                    Discipline
                </label>

                <div class="col-sm-9">


                    <input type="text"
                           ng-model="disciplineSelected"
                           name="disciplineSelectedLocal"
                           placeholder="Select discipline"
                           uib-typeahead="discipline as discipline.title for discipline in getDisciplines($viewValue) "
                           typeahead-loading="loadingLocations"
                           typeahead-no-results="noResults"
                           class="form-control" ng-required="true" autofocus>

                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>


                    <p ng-show="timesheetForm.disciplineSelectedLocal.$invalid && !timesheetForm.disciplineSelectedLocal.$pristine" class="has-error">Selection is required</p>
                </div>
            </div>




            <div class="form-group">
                <label for="StartTime" class="col-sm-3 control-label">Start time</label>
                <div class="col-sm-9">

                    <input type="date" id="StartTime1" name="StartTime" class="form-control" ng-model="editableTimeLog.startTime" />
                    <input type="time" id="StartTime2" name="StartTime" class="form-control" ng-model="editableTimeLog.startTime" />

                </div>
            </div>




            <div class="form-group">
                <label for="StartTime" class="col-sm-3 control-label">Stop time</label>
                <div class="col-sm-9">

                    <input type="date" id="StopTime1" name="StopTime" class="form-control" ng-model="editableTimeLog.stopTime" />
                    <input type="time" id="StopTime2" name="StopTime" class="form-control" ng-model="editableTimeLog.stopTime" />

                </div>
            </div>





            <div class="form-group">
                <label for="WorkDetail" class="col-sm-3 control-label">Work Detail</label>
                <div class="col-sm-9">

                    <textarea name="WorkDetail" id="WorkDetail" class="form-control" rows="5" cols="40" ng-model="editableTimeLog.workDetail"></textarea>
                </div>
            </div>



        </fieldset>


        <div ng-if="feedbackToUserText" ng-class="feedbackToUserClassNameSet()">
            {{feedbackToUserText}}
        </div>

    </div>




    <div class="modal-footer">

        <div class="col-sm-offset-3 col-sm-9">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
            <input type="button" class="btn btn-primary" value="Submit" ng-click="submitForm()" ng-disabled="timesheetForm.$invalid" />

        </div>

    </div>



</form>
