/*
  // 12/04/2019 05:25 am - SSN - [20191204-0529] - [002] - Working on stablizing chart display
  https://codepen.io/chartjs/pen/YVWZbz
  Added class .chart-container
*/

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
