<!--// 06/06/2021 05:29 am - SSN - [20210606-0227] - [007] - Testng for deployment-->


<form name="lineItemForm" novalidate>

    <div class="modal-header">

        <h2>{{pageTitle}} 20210609-0729 </h2>

        <table>
            <tr>
                <td>Project </td>
                <td>{{editableJob_LineItem.job.project.projectTitle}}</td>
            </tr>
            <tr>
                <td>Job</td>
                <td>{{editableJob_LineItem.job.jobTitle}}</td>
            </tr>

        </table>

    </div>











    <div class="modal-body">


        <input type="hidden" name="timeLogId" ng-model="editableJob_LineItem.lineItemId" />
        <input type="hidden" name="timeLogId" ng-model="editableJob_LineItem.jobId" />

        <fieldset>

            <div class="form-group">

                <label for="lineItemID" class="col-sm-3 control-label">
                    Line item 777
                </label>

                <div class="col-sm-9">
  
                    <dropdown-list-directive call-source="20210610-1832"
                                             key="lineItemID"
                                             form-name="lineItemForm"
                                             ng-model="defaultValue"
                                             parentkey="editableJob_LineItem.jobId"
                                             parent-key-name="editableJob_LineItem.jobId"
                                             container-view-value="defaultValue"
                                             line_item_no_duplicate
                                             dropdown-list-direcive-input-box-inverse="{{true}}"></dropdown-list-directive>


                </div>
            </div> 


        </fieldset>


        <div ng-if="feedbackToUserText" ng-class="feedbackToUserClassNameSet()">
            {{feedbackToUserText}}
        </div>

    </div>

     




    <div class="modal-footer">

        <div class="col-sm-offset-3 col-sm-9">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
            <input type="button" class="btn btn-primary" value="Submit" ng-click="submitForm()" ng-disabled="lineItemForm.$invalid || disableSaveButton" />

        </div>

    </div>



</form>
