@page
@model DevSitesIndex.Pages.TimeLogs.DeleteModel

@{
    ViewData["Title"] = $"Delete Timelog - {PageTitleUtil.GetTitle_TimeLog(Model.TimeLog)}";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    @{await Html.RenderPartialAsync("display_record", Model.TimeLog);}

    <form method="post">
        <input type="hidden" asp-for="TimeLog.TimeLogId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @*<a asp-page="./Index">Back to List</a>*@
        @await Html.PartialAsync("ReturnToCallerLink", Model.returnToCaller)
    </form>
</div>
