@page
@model DevSitesIndex.Pages.TimeLogs.DetailsModel

@{
    ViewData["Title"] = "Timelog Details";
}

<h2>@ViewData["Title"]</h2>

@{await Html.RenderPartialAsync("display_record", Model.TimeLog);}

<div>
    <a asp-page="./Edit" asp-route-id="@Model.TimeLog.TimeLogId">Edit</a> |
    @*<a asp-page="./Index">Back to List</a>*@
    @await Html.PartialAsync("ReturnToCallerLink", Model.returnToCaller)
</div>
