@page
@model DevSitesIndex.Pages.TimeLogs.IndexModel

@{
    ViewData["Title"] = "Timelog Index";

    // 03/10/2022 02:13 pm - SSN - [20220310-1358] - [007] - Allow anonymous
    bool IsAuthenticated = HttpContext.User.Identity.IsAuthenticated;

}

@section styles {

}

@* 06/23/2021 08:08 am - SSN - Moved up.  Not scrolling far enough.*@
<a id="topOfTimesheetTable"></a>


<h2>@ViewData["Title"]</h2>

@{

    // 03/10/2022 02:15 pm - SSN - [20220310-1358] - [008] - Allow anonymous 

    if (IsAuthenticated)
    {

        <p>
            <a asp-page="Create">Create New Timelog Record</a>
        </p>

    }
}


@{
    // 11/23/2019 07:34 am - SSN - Replace ng-app
    ViewBag.InitModule_Full = "data-ng-app=\"timesheetApp\"";

}
@*
    <div ng-app="timesheetApp">
*@


<div>

    <div ng-controller="timesheetController">

        <ng-content ng-controller="timesheetController_temp">


            <i class="glyphicon" ng-class="getFilterContainerClass()" style="font-size:16pt;" ng-click="showFilter = !showFilter"></i>

            <div class="row">

                <div class="col-md-4">

                    <div class="cssShowFilterContainer" ng-class="{cssShowFilterContainer_On: showFilter , cssShowFilterContainer_Off: (showFilter !==undefined && !showFilter) }">


                        <form name="timelogIndexForm" action="" method="post" novalidate>

                            <div>

                                <fieldset>

                                    <div class="form-group">
                                        <label class="control-label">Start Date</label>
                                        <input asp-for="startDate" type="date" class="form-control" />
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label">End Date</label>
                                        <input asp-for="endDate" type="date" class="form-control" />
                                    </div>



                                    <div class="form-group">

                                        <label class="control-label">Project Title</label>
                                        <input asp-for="projectID" type="hidden" />

                                        <dropdown-list-directive call-source="20210625-1115" key="Job.ProjectID" form-name="timelogIndexForm" hidden-field-name="projectID" ng-model="projectID"></dropdown-list-directive>

                                    </div>




                                    <div class="form-group">

                                        <label class="control-label">Job Title</label>
                                        <input asp-for="jobID" type="hidden" />

                                        <dropdown-list-directive call-source="20210625-1116" key="Job.JobId" form-name="timelogIndexForm" hidden-field-name="jobID" ng-model="jobID" parentkey="projectID" parent-key-name="Job.ProjectId"></dropdown-list-directive>

                                    </div>





                                    @*<timelog-filter-options-directive
                                        start-date-input="[name=startDate]"
                                        start-date="startDate"
                                        end-date-input="[name=endDate]"
                                        end-date="endDate"

                                        ></timelog-filter-options-directive>*@

                                    <input type="submit" value="Search" class="btn btn-info" />
                                    <input type="button" value="Cancel" class="btn btn-default" ng-click="showFilter = !showFilter " />

                                </fieldset>
                            </div>

                        </form>

                    </div>
                </div>

            </div>


        </ng-content>



        <table class="table">
            <thead>
                <tr>
                    @*// 08/28/2019 04:28 am - SSN - [20190828-0427] - [001] - Apply sorting and paging to timelogs index*@
                    @{await Html.RenderPartialAsync("HeaderWithSortLinks", Model.pageUtil.headerWithSortLinks);}
                    <th></th>
                </tr>

            </thead>
            <tbody id="timesheet_index_tbody">
                @foreach (var item in Model.TimeLog)
                {


                    @*
                        // 11/19/2019 12:48 am - SSN - [20191119-0048] Created

                    *@
                    @await Html.PartialAsync("Timelog_index_record", new Shared.Timelog_index_record { timelog = item, servingPage = Shared.ServingPage.Timelog });
                }
            </tbody>
        </table>


        @*// 08/28/2019 04:28 am - SSN - [20190828-0427] - [001] - Apply sorting and paging to timelogs index*@
        @{await Html.RenderPartialAsync("TablePager", Model.pageUtil.tablePager);}

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("TimesheetAngularScripts");}



    <script>

        angular.module('timesheetApp')
            .controller('timesheetController_temp', ['$scope', function ($scope) {

                $scope.projectID = "@Model.projectID";
                $scope.jobID = "@Model.jobID";

                $scope.showFilter = undefined;

                $scope.getFilterContainerClass = function () {

                    return $scope.showFilter ? 'glyphicon-remove' : 'glyphicon-filter';
                }

            }]);

    </script>

}
