@page
@model DevSitesIndex.Pages.TimeLogs.IndexModel

@{
    ViewData["Title"] = "Timelog Index";
}

@section styles {

}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New Timelog Record</a>
</p>
<div ng-app="timesheetApp">

    <div ng-controller="timesheetController">

   
        <table class="table">
            <thead>
                <tr>
                    @*// 08/28/2019 04:28 am - SSN - [20190828-0427] - [001] - Apply sorting and paging to timelogs index*@
                    @{await Html.RenderPartialAsync("HeaderWithSortLinks", Model.pageUtil.headerWithSortLinks);}
                    <th></th>
                </tr>

            </thead>
            <tbody >
                @foreach (var item in Model.TimeLog)
                {
                    

                    @*
                        // 11/19/2019 12:48 am - SSN - [20191119-0048] Created

                    *@
                    @await Html.PartialAsync("Timelog_index_record", item);
                }
            </tbody>
        </table>


        @*// 08/28/2019 04:28 am - SSN - [20190828-0427] - [001] - Apply sorting and paging to timelogs index*@
        @{await Html.RenderPartialAsync("TablePager", Model.pageUtil.tablePager);}

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("TimesheetAngularScripts");}
}
