@page
@model DevSitesIndex.Pages.TimeLogs.IndexModel

@{
    ViewData["Title"] = "Timelog Index";
}

@section styles {

}

@* 06/23/2021 08:08 am - SSN - Moved up.  Not scrolling far enough.*@
<a id="topOfTimesheetTable"></a>


<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New Timelog Record</a>
</p>



@{
    // 11/23/2019 07:34 am - SSN - Replace ng-app
    ViewBag.InitModule_Full = "data-ng-app=\"timesheetApp\"";

}
@*
    <div ng-app="timesheetApp">
*@


<div>

    <div ng-controller="timesheetController">
        
        
        <table class="table">
            <thead>
                <tr>
                    @*// 08/28/2019 04:28 am - SSN - [20190828-0427] - [001] - Apply sorting and paging to timelogs index*@
                    @{await Html.RenderPartialAsync("HeaderWithSortLinks", Model.pageUtil.headerWithSortLinks);}
                    <th></th>
                </tr>

            </thead>
            <tbody id="timesheet_index_tbody">
                @foreach (var item in Model.TimeLog)
                {


                    @*
                        // 11/19/2019 12:48 am - SSN - [20191119-0048] Created

                    *@
                    @await Html.PartialAsync("Timelog_index_record", new Shared.Timelog_index_record { timelog = item, servingPage = Shared.ServingPage.Timelog });
                }
            </tbody>
        </table>


        @*// 08/28/2019 04:28 am - SSN - [20190828-0427] - [001] - Apply sorting and paging to timelogs index*@
        @{await Html.RenderPartialAsync("TablePager", Model.pageUtil.tablePager);}

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("TimesheetAngularScripts");}
}
