@page
@model DevSitesIndex.Pages.CodeReferences.EditModel

@{
    ViewData["Title"] = "Edit Code Reference";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" name="codeReferenceForm">


            <input type="hidden" asp-for="SearchText" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodeReference.Id" />



            <div class="form-group">
                <label asp-for="CodeReference.Title" class="control-label"></label>
                <input asp-for="CodeReference.Title" class="form-control" maxlength="100" autofocus></input>
                <span asp-validation-for="CodeReference.Title" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="CodeReference.SourceAddress" class="control-label"></label>
                <input asp-for="CodeReference.SourceAddress" class="form-control" />
                <span asp-validation-for="CodeReference.SourceAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeReference.DateAdded" class="control-label"></label>
                <input asp-for="CodeReference.DateAdded" class="form-control" />
                <span asp-validation-for="CodeReference.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeReference.DateModified" class="control-label"></label>
                <input asp-for="CodeReference.DateModified" class="form-control" />
                <span asp-validation-for="CodeReference.DateModified" class="text-danger"></span>
            </div>



            @*05/30/2019 06:40 pm - SSN - Adding*@

            @{

                // Incomplete

                if (Model.Test_20190901_2333)
                {
                    <h1>-----------------------------------------------------------------------</h1>


                    <h1>Test-001</h1>

                    int ndx = 0;

                    if (Model.CodeReference.DevSiteCodeReferences != null)
                    {

                        foreach (var item in Model.CodeReference.DevSiteCodeReferences)
                        {

                            <div class="form-group">
                                <label class="control-label">Demo Site(s): </label>
                                @Html.DisplayFor(modelItem => item.DevSite.SiteTitle)
                                <input name="CodeReference.DevSiteCodeReferences[@ndx].DevSite.SiteTitle" class="form-control" maxlength="100" value="@item.DevSite.SiteTitle"></input>

                                <span asp-validation-for="CodeReference.DevSiteCodeReferences" class="text-danger"></span>


                            </div>

                            ndx++;
                        }

                    }

                    <h1>Test-002</h1>

                    <div class="form-group">
                        <label class="control-label">Demo Site(s): </label>

                        <input name="CodeReference.DevSiteCodeReferences[@ndx].DevSite.SiteTitle" class="form-control" maxlength="100"></input>

                        <span asp-validation-for="CodeReference.DevSiteCodeReferences" class="text-danger"></span>
                    </div>

                    <h1>Test-003</h1>
                    <div ng-app="timesheetApp">

                        <typeahead-discipline key="'TheKeyColumn101'" form-name="codeReferenceForm"></typeahead-discipline>

                    </div>
                    <h1>-----------------------------------------------------------------------</h1>

                }
            }


            @*
        09/13/2019 04:30 am - SSN - [20190913-0421] - [001]
        Moved down
            *@

            <div class="form-group">
                <label asp-for="CodeReference.CodeBlock" class="control-label"></label>
                <textarea asp-for="CodeReference.CodeBlock" class="form-control codeblock1"></textarea>
                <span asp-validation-for="CodeReference.CodeBlock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="index">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    @{await Html.RenderPartialAsync("TimesheetAngularScripts");}
    <script src="~/js/CodeReference/Typeahead_Discipline.js"></script>
}
