

<div class="modal" tabindex="-1" role="dialog" id="{{elementId}}" #modalContainer>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="title" class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">{{title}}</h4>
      </div>

      <div class="modal-body" (click)="closeModalOnBodyClick()">
        <ng-content></ng-content>
      </div>

      <div *ngIf="false" class="modal-footer">
        <!--<button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      </div>
    </div>
  </div>
</div>
