<!--*ngIf="!childInAddMode"-->

<div class="filterOptions">

  <div class="col-md-9" class="form-group">
    <dl class="dl-horizontal">
      <dt>
        Filter Project:
      </dt>
      <dd>
        <button class="btn-default btn-sm" [class.active]="!ProjectWithJobsOnly" (click)="setProjectWithJobsOnly(false, null)"> All Project</button>
        <button class="btn-default btn-sm" [class.active]="ProjectWithJobsOnly" (click)="setProjectWithJobsOnly(true, null)"> With jobs only</button>
      </dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>
        Filter Job Status:
      </dt>
      <dd>
        <button class="btn-default  btn-sm" [class.active]="filterBy===0" (click)="setFilter(0)">All</button>
        <span *ngFor="let job_status of job_statuses">
          <button class="btn-default  btn-sm" [class.active]="filterBy===job_status.id" (click)="setFilter(job_status.id)">  {{job_status.status}}</button>
        </span>

      </dd>
    </dl>

  </div>


  <div class="col-md-3" class="form-group">

    <form id="serachForm" (ngSubmit)="searchProjects()" autocomplete="off" novalidate>
      <div class="form-group">
        <input [(ngModel)]="searchTerm" name="searchTerm" type="search" class="form-control" placeholder="Search all timelog tables..." />
      </div>
      <button type="submit" class="btn btn-default" >Search</button>

      <button type="button" class="btn btn-default" (click)="resetSearch()">Reset</button>

    </form>
  </div>


</div>

<div class="container">

  <div class="row">

    <div class="projectDiv" *ngFor="let project of filteredProjects">

      <h3>{{project.projectTitle}}</h3>
      <hr />
      <app-project-jobs-list [projectId]="project.projectID" [jobs]="project?.jobs" (inAddMode)="inAddMode($event)"
                             filterBy="{{filterBy}}"></app-project-jobs-list>

    </div>
  </div>
</div>
